import psycopg2
from prometheus_client import CollectorRegistry, Gauge, push_to_gateway
from prometheus_client import Summary

uri = f'{{ steampipe_connect_string }}'

try:
    con = psycopg2.connect(uri)
    print(f'Connected to DB.')

    try:
        cur = con.cursor()
        cur.execute('select count(*) from oci_core_instance where region=\'eu-zurich-1\' and lifecycle_state=\'RUNNING\';')
        print('Query ran')
    except:
        print('Query failed')
        raise
    else:
        bv_zurich = cur.fetchone()[0]
        print(bv_zurich)

        registry = CollectorRegistry()

        g = Gauge('oci_compute_running_count_zrh', 'OCI Compute Running Count ZRH', registry=registry)
        g.set(int(bv_zurich))
        push_to_gateway('127.0.0.1:9091', job='oci_compute', registry=registry)

    finally:
        con.close()
        print(f'Connection closed.')
except Exception as e:
    print('Something went wrong:', e)