import psycopg2
from prometheus_client import CollectorRegistry, Gauge, push_to_gateway
from prometheus_client import Summary

uri = f'{{ steampipe_connect_string }}'
try:
    con = psycopg2.connect(uri)
except psycopg2.Error as e:
    print(f'Had problem connecting with error {e}.')

with con:

    cur = con.cursor()
    cur.execute('select count(*) from oci_core_instance where region=\'eu-frankfurt-1\' and lifecycle_state=\'RUNNING\';')

    bv_zurich = cur.fetchone()[0]
    print(bv_zurich)

    registry = CollectorRegistry()

    g = Gauge('oci_compute_running_count_fra', 'OCI Compute Running Count FRA', registry=registry)
    g.set(int(bv_zurich))
    push_to_gateway('127.0.0.1:9091', job='oci_compute', registry=registry)

finally:
    if con:
        con.close()