version: '3.1'

networks:
  monitoring:
    driver: bridge

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - /etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/home/prometheus/data'
      - '--storage.tsdb.retention.time=21d'
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - monitoring

  pushgateway:
    image: prom/pushgateway
    container_name: pushgateway
    volumes:
      - /etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z
    ports:
      - "9091:9091"
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - /etc/grafana/provisioning:/etc/grafana/provisioning:Z
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "Welcome1"
      GF_USERS_ALLOW_SIGN_UP: "false"
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - monitoring

  steampipe:
    image: turbot/steampipe
    container_name: steampipe
    command: "service start --foreground"
   volumes:
      - type: bind
        source: $HOME/.oci
        target: /home/steampipe/.oci  
      - type: bind
        source: $HOME/sp/config
        target: /home/steampipe/.steampipe/config
      - type: volume
        source: steampipe_data
        target: /home/steampipe/.steampipe/db/14.2.0/data 
      - type: volume
        source: steampipe_internal
        target: /home/steampipe/.steampipe/internal
      - type: volume
        source: steampipe_logs
        target: /home/steampipe/.steampipe/logs
      - type: volume
        source: steampipe_plugins
        target: /home/steampipe/.steampipe/plugins
    ports:
      - "9193:9193"
    restart: unless-stopped
    networks:
      - monitoring