# A scrape configuration scraping a Node Exporter and the Prometheus server 
# itself. 
scrape_configs: 
  - job_name: 'prometheus' 
    static_configs: 
     - targets: ['{{ ansible_default_ipv4.address }}:9090']